body{
    background-image: url("/static/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.logo{
    width:  150px;
    padding-left: 0;
    margin-left: 0;
}

form{
    position:absolute;
    top: 50%; left: 50%;
    width: 50%;

   transform: translate(-50%,-50%);




}


.nom{
    display: block;
    margin : 0 auto;
    width: 150px;
    border-radius: 5px;
    text-align: center;
}
.nom::placeholder{


    text-align:center;
    vertical-align: middle;
    text-shadow: black;

}
.prenom::placeholder{
    text-align:center;
    vertical-align: middle;
}


.prenom{
    display: block;
    margin : 0 auto;
    width: 150px;

    border-radius: 5px;
}
.submit{
    display: block;
    margin : 0 auto;
    width: 75px;

    border-radius: 10px;
    border-width: medium;

}


