<html>
<head>

</head>

<boddy>


    <h1> Information de Nom Prénom </h1>

    <br><br>
    <form action="admin_creation" method="post">

       </select>

    <div>



    </div>

        <h3> Créer étudiant</h3>

        <input type="text" class="titre_sujet" id="titre_sujet" name="titre_sujet" placeholder="Titre du sujet de stage " value="">



        <input type="text" class="organisation" id="organisation" name="organisation" placeholder="Organisation" value="">

        <label for="date_stage">Début du Stage:</label>
        <input type="number" class="date_stage" id="date_stage" name="date_stage" placeholder="Date du stage"  min="1900" max="2099"value="">

        <label for="duree_stage">Durée du Stage en mois </label>
        <input type="number" class="duree_stage" id="duree_stage" name="duree_stage" min="2" max="6">

        <input type="text" class="nom_tuteur" id="nom_tuteur" name="nom_tuteur" placeholder="Nom du Tuteur" value="">


        <input type="text" class="prenom_tuteur" id="prenom_tuteur" name="prenom_tuteur" placeholder="Prénom du tuteur" value="">

        <input type="text" class="email_tuteur" id="email_tuteur" name="email_tuteur" placeholder="email du tuteur" value="">





        <label for="description">Description du stage:</label>
        <textarea class="description" id="description" name="description_projet" placeholder="Description du sujet de stage" value="">
        </textarea>


    </div>
        <h3>Ajout d'une position</h3>

        <div class="position" id="position">
        <label for="add_position">Cochez si vous voulez ajouter une nouvelle position:</label>
            <input type="checkbox" id="add_position" class="add_position">

            <input type="text" id="nom_entreprise" name="nom_entreprise" placeholder="Nom Entreprisqe">

            <label for="date_debut_position">Date de début de cette position:</label>
            <input type="date" id="date_debut_position" name="date_debut_position" placeholder="Date d'entrée">

            <input type="text" id="titre_position" name="titre_position" placeholder="titre position">



        </div>


        <button class="submit" type="submit"> Envoyer le Formulaire </button>


    </form>



</boddy>



</html>