<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/informations_personnelles.css") }}">
</head>
<body>

    <h1> Création d'une personne </h1>

        <a href={{  "/tableau_de_bord?admin=admin" }}> <img id="logo_maison" src="{{ url_for("static",filename="img/maison.png") }}"> </a>


    <br><br>





    <form action="/resultat_creation_personne" method="POST" >




     <select name="etat_civil" id="etat_civil">
         <option value="">--Please choose an option</option>
    <option value="madame">Madame</option>
    <option value="monsieur">Monsieur</option>
        </select>







        <input type="text" class="email" id="email" name="email" placeholder="email" value="">
        <input type="number" class="promotion" id="promotion" name="promotion" placeholder="promotion" value="">


        <input type="text" class="nom" class="nom" name="nom" placeholder="Nom" value="">
        <input type="text" class="prenom" class="prenom" name="prenom" Placeholder="Prenom" value="">



            <select name="role" id="role">
    <option value="">--Please choose an option</option>
        <option value="alumni">Alumni</option>
        <option value="teacher">Professeur</option>
        <option value="student">Elève</option>

        </select>



    <div>
        <select name="taf1" id="taf1" >
    <option value="">--Votre Taf de deuxième année-- </option>
    {% for taf in tafs %}
    <option value={{ taf.name }}>{{ taf.name }}</option>

    {% endfor %}
        </select>


        <select name="taf2" id="taf2" >
    <option value="">--Votre Taf de troisième année-- </option>
     {% for taf in tafs %}
    <option value={{ taf.name }}>{{ taf.name }}</option>

      {% endfor %}
            </select>






    </div>


        <button class="submit" type="submit"> Envoyer le Formulaire </button>


    </form>

</body>
</html>