<html>
<head>
    <title>students management</title>
</head>
<body>
    {% for person in people %}
        {{ person.first_name }} <br>

        <ul>
        {% for taf in person.tafs %}
            <li> {{ taf.id }} <br> </li>

        {% endfor %}
        </ul>
    {% endfor %}

    <br> <br>
    {% for pfe in  pfes%}
    {{ pfe.id }}
    {{ pfe.organisation.id }}

    {% endfor %}

    <br><br>
         {% for position in positions %}
             {{ position.id }}
             {{ position.employee.id }}

        {% endfor %}


</body>


</html>