<html>
<head>
    <title>students management</title>
</head>
<body>
    {% for person in people %}
        {{ person.first_name }} <br>

        <ul>
        {% for taf in person.tafs %}
            <li> {{ taf.id }} <br> </li>
            {% endfor %}
        </ul>
    {% endfor %}

         {% for position in positions %}
             {{ position.id }}
             {{ position.person_id.id }}
             {{ position.organisation_id.id }}

        {% endfor %}


</body>


</html>