<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/informations_personnelles.css") }}">
</head>
<body>

    <h1> Information de {{ person.last_name }} {{ person.first_name }} </h1>
    {% if(admin=='admin') %}

        <a href={{  "/tableau_de_bord?admin=admin" }}> <img id="logo_maison" src="{{ url_for("static",filename="img/maison.png") }}"> </a>

    {% endif %}

    {% if(admin!='admin') %}


    <a href={{  "/tableau_de_bord?id=" +id}}> <img id="logo_maison" src="{{ url_for("static",filename="img/maison.png") }}"> </a>
    {% endif %}

    <br><br>

    {% if admin!="admin" %}
    <form action={{ "resultat_informations_personnelles?id="+id }} method="POST" >
    {% endif %}

    {% if admin=="admin" %}

    <form action="resultat_informations_personnelles?id={{ id }}&admin=admin" method="POST" >
    {% endif %}

    {% if person.etat_civil=="monsieur" %}
        <select name="etat_civil" id="etat_civil">
    <option value="monsieur">Monsieur</option>
    <option value="madame">Madame</option>
        </select>
    {% endif %}

    {% if person.etat_civil== "madame"%}
    <select name="etat_civil" id="etat_civil">
    <option value="madame">Madame</option>
    <option value="monsieur">Monsieur</option>
        </select>
    {% endif %}

    {% if person.etat_civil==none %}
     <select name="etat_civil" id="etat_civil">
         <option value="">--Please choose an option</option>
    <option value="madame">Madame</option>
    <option value="monsieur">Monsieur</option>
        </select>
    {% endif %}






        <input type="text" class="email" id="email" name="email" placeholder="email" value={{ person.email }}>
        <input type="number" class="promotion" id="promotion" name="promotion" placeholder="promotion" value={{ person.promotion }}>

    {% if person.role=="student" %}
        <select name="role" id="role">
            <option value="student">Elève</option>
            <option value="teacher">Professeur</option>
            <option value="alumni">Alumni</option>
        </select>
    {% endif %}
    {% if person.role=="teacher" %}
                <select name="role" id="role">
                    <option value="teacher">Professeur</option>
            <option value="student">Elève</option>
            <option value="alumni">Alumni</option>
        </select>

    {% endif %}

    {% if person.role=="alumni"%}
    <select name="role" id="role">

        <option value="alumni">Alumni</option>
        <option value="teacher">Professeur</option>
        <option value="student">Elève</option>

        </select>
    {% endif %}


    {% if person.role==none %}
            <select name="role" id="role">
    <option value="">--Please choose an option</option>
        <option value="alumni">Alumni</option>
        <option value="teacher">Professeur</option>
        <option value="student">Elève</option>

        </select>



    {% endif %}

    <div>
        <select name="taf1" id="taf1" >
    <option value="">--Votre Taf de deuxième année-- </option>
    {% for taf in tafs %}
    <option value={{ taf.name }}>{{ taf.name }}</option>

      {% endfor %}
        </select>


        <select name="taf2" id="taf2" >
    <option value="">--Votre Taf de troisième année-- </option>
     {% for taf in tafs %}
    <option value={{ taf.name }}>{{ taf.name }}</option>

      {% endfor %}
            </select>






    </div>

        <h3> Information sur le stage</h3>
    <div class="stage" id="stage">



            {% if pfe!=none %}

        <input type="text" class="titre_sujet" id="titre_sujet" name="titre_sujet" placeholder="Titre du sujet de stage " value={{ pfe.title }}>
        <input type="text" class="organisation" id="organisation" name="organisation" placeholder="Organisation" value={{  pfe.organisation.entreprise}}>
        <label for="date_stage">Début du Stage:</label>
        <input type="number" class="date_stage" id="date_stage" name="date_stage" placeholder="Date du stage"  min="1900" max="2099"value={{ pfe.year }}>
        <label for="duree_stage">Durée du Stage en mois </label>
        <input type="number" class="duree_stage" id="duree_stage" name="duree_stage" min="2" max="6" value={{ pfe.duration }}>
        <input type="text" class="nom_tuteur" id="nom_tuteur" name="nom_tuteur" placeholder="Nom du Tuteur" value={{ pfe.supervisor.last_name }}>
        <input type="text" class="prenom_tuteur" id="prenom_tuteur" name="prenom_tuteur" placeholder="Prénom du tuteur" value={{ pfe.supervisor.first_name }}>
        <input type="text" class="email_tuteur" id="email_tuteur" name="email_tuteur" placeholder="email du tuteur" value={{ pfe.supervisor.email }}>
        <label for="description">Description du stage:</label>
        <textarea class="description" id="description" name="description_projet" placeholder="Description du sujet de stage" value={{ pfe.description }}>{{ pfe.description }}</textarea>
            {% endif %}
        {% if pfe==none %}

            <input type="text" class="titre_sujet" id="titre_sujet" name="titre_sujet" placeholder="Titre du sujet de stage " value="">
        <input type="text" class="organisation" id="organisation" name="organisation" placeholder="Organisation" value="">
        <label for="date_stage">Début du Stage:</label>
        <input type="number" class="date_stage" id="date_stage" name="date_stage" placeholder="Date du stage"  min="1900" max="2099"value="">
        <label for="duree_stage">Durée du Stage en mois </label>
        <input type="number" class="duree_stage" id="duree_stage" name="duree_stage" min="2" max="6" value="">
        <input type="text" class="nom_tuteur" id="nom_tuteur" name="nom_tuteur" placeholder="Nom du Tuteur" value="">
        <input type="text" class="prenom_tuteur" id="prenom_tuteur" name="prenom_tuteur" placeholder="Prénom du tuteur" value="">
        <input type="text" class="email_tuteur" id="email_tuteur" name="email_tuteur" placeholder="email du tuteur" value="">
        <label for="description">Description du stage:</label>
        <textarea class="description" id="description" name="description_projet" placeholder="Description du sujet de stage" value=""></textarea>



        {% endif %}


    </div>
        <h3>Ajout d'une position</h3>

        <div class="position" id="position">
        <label for="add_position">Cochez si vous voulez ajouter une nouvelle position:</label>
            <input type="checkbox" id="add_position" class="add_position">

            <input type="text" id="nom_entreprise" name="nom_entreprise" placeholder="Nom Entreprise">

            <label for="date_debut_position">Date de début de cette position:</label>
            <input type="date" id="date_debut_position" name="date_debut_position" placeholder="Date d'entrée">

            <input type="text" id="titre_position" name="titre_position" placeholder="titre position">



        </div>


        <button class="submit" type="submit"> Envoyer le Formulaire </button>


    </form>

</body>
</html>