<html>
<head>

</head>
<body>

<table id="Tableau des Tafs">
  <thead>
    <tr>
      <th>Titre de la colonne 1</th>
      <th>Titre de la colonne 2</th>
      <th>Titre de la colonne 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ligne 1, Colonne 1</td>
      <td>Ligne 1, Colonne 2</td>
      <td>Ligne 1, Colonne 3</td>
    </tr>
    <tr>
      <td>Ligne 2, Colonne 1</td>
      <td>Ligne 2, Colonne 2</td>
      <td>Ligne 2, Colonne 3</td>
    </tr>
    <tr>
      <td>Ligne 3, Colonne 1</td>
      <td>Ligne 3, Colonne 2</td>
      <td>Ligne 3, Colonne 3</td>
    </tr>
  </tbody>
</table>
</body>
</html>