<html>
<head>
<link rel="stylesheet" href="{{ url_for("static",filename="css/modification_taft_organisation.css") }}">
</head>
<body>
 <a href={{  "/tableau_de_bord?admin=admin" }}> <img id="logo_maison" src="{{ url_for("static",filename="img/maison.png") }}"> </a>r

<h1> Modification des Organisations et des TAF</h1>


<form action="/modification_taf_organisation/resultat" method="post">

<button onclick="ajout_taf()"  type="button">Ajouter une taf</button>

<table id="tableau_des_tafs">
  <thead>
    <tr>
      <th>Nom de la Taf</th>
      <th>Responsable de Taf</th>
      <th>Description</th>
        <th>Supprimer/ modifier</th>
    </tr>
  </thead>
  <tbody id="tbody_taf">
      {% for taf in tafs %}
    <tr class="taf">


      <td>
          <input type="text" id="name" name="{{ taf.name }}" value="{{ taf.name }}">

      </td>
      <td>
          <input type="text" id="responsable" name="{{ taf.name+"_responsable" }}" value="{{ taf.responsable }}">
      </td>
      <td>
          <input type="text" id="description" name="{{ taf.name+"_description" }}" value="{{ taf.description }}">
      </td>
        <td> <button type="button" onclick="edit_one_taf_or_organisation(event.target.parentElement.parentElement)" class="modifier">Modifier</button>
            <button onclick="supprimer_taf_ou_organisation(event.target.parentElement.parentElement)" type="button" class="supprimer" >Supprimer</button></td>
    </tr>
  {% endfor %}

  </tbody>
</table>


<button type="button" onclick="ajout_organisation()" >Ajouter une organisation</button>

<table id="tableau_des_organisations">
  <thead>
    <tr>
      <th>Nom de l'Organisation</th>
        <th>Supprimer/ modifier</th>
    </tr>
  </thead>

  <tbody id="tbody_organisation">
      {% for organisation in organisations %}
    <tr class="organisation">


      <td><input type="text" id="entreprise" name="{{ organisation}}" value="{{ organisation.entreprise }}">
      </td>

        <td> <button type="button" onclick="edit_one_taf_or_organisation(event.target.parentElement.parentElement)" class="modifier">Modifier</button>
            <button type="button" onclick="supprimer_taf_ou_organisation(event.target.parentElement.parentElement)" class="supprimer">Supprimer</button></td>
    </tr>
    {% endfor %}

  </tbody>
</table>




<button type="submit" id="enregistrer"> Enregistrer </button>


</form>

</body>
</html>

     <script  src="/static/js/modification_taft_organisation.js"></script>
