<!doctype html>
    <html lang="fr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        {% for person in people %}
            <h1> Bienvenue {{ person.first_name }} {{ person.last_name }}</h1>
        {% endfor %}
    </body>
</html>