<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>merci</title>
    <body>merci
    {% for person in people %}
    <p>{{ person.id }}</p>
        <p>{{ person.first_name }}</p>
<p>{{ person.promotion }}</p>
{% endfor %}

</body>
</head>
</html>