<html lang="fr">
<head>
    <title> Tableau de Bord</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for("static",filename="css/tableau_de_bord.css") }}">
    <script  src="/static/js/tableau_de_bord.js"></script>
</head>
<body>
<div class="haut">
    <h2> Tableau de Bord</h2>
    <span>Nombre total d'entreprises: {{ nombre_organisations }}<br>Nombre de personnes: {{ nombre_personnes }}  </span>



<a class="profil" href="/informations_personnelles?id={{ id_connecte}}">
    <img class="profil" src="{{ url_for("static",filename="img/icon.png") }}">

</a>



    <HR class="ligne" WIDTH="700px">



</div>

    <nav class ="navigation">


        <ul>
            <ui>
                Filtre:
            </ui>


            <ui> <input type="text" placeholder="TAF" list="taf" id="input_taf">
                <datalist id="taf">
                    {%for taf in tafs%}

                <option value={{ taf.name }}>{{ taf.name }}</option>{%  endfor %}
                    </datalist>


            </ui>

            <ui>


            <input type="text" placeholder="Promotion" list="promotion" id="input_promotion">

                <datalist id="promotion">

                    {%for promotion in range(1990,current_year) %}

                <option value={{ promotion }}>{{ promotion }}</option>

                   {%  endfor %}
                        </datalist>






            </ui>

            <ui>

                <input type="text" placeholder="Stage" list="stage" id="input_stage">
                <datalist id="stage">
                    {%  for pfe in pfes %}

                     <option value={{ pfe.organisation.entreprise}}>{{ pfe.organisation.entreprise }}</option>

                    {% endfor %}

                    </datalist>

            </ui>

            <ui>

                <input type="text" placeholder="Entreprise" list="entreprise" id="input_entreprise">
                <datalist id="entreprise">

                    {% for organisation in organisations %}

                    <option value={{ organisation.entreprise }}>{{ organisation.entreprise }}</option>

                    {%  endfor %}

                    </datalist>


            </ui>
            <ui>
                <button class="add" type="submit" onclick="get_input()" >Add</button>
            </ui>


        </ul>



    </nav>

<div>
    <ul class="ajout" id="ajout">

    </ul>
</div>
<HR class="ligne" WIDTH="700px">

<br>

<div>
    <h3> Alumni</h3>

</div>


<ul class="everyone">

    {% for person in people %}

    <li class="someone_li" >
        <span>

             <button  id="button_plus" class="button_plus_moins" onclick="vue_plus(event.target.parentElement.parentElement)" >+</button>
            <button id="button_moins" class="button_plus_moins" onclick="vue_moins(event.target.parentElement.parentElement)">-</button>
            {% if(admin=='admin') %}
                <a id="modifier" class="modifier" href="/informations_personnelles?id={{ id_connecte}}"> Modifier</a>
            {% endif %}
            <ul class="someone">


                <li>
                   <span> Nom: {{ person.last_name }}</span>
                </li>
                <li>
                    <span>Prenom: {{ person.first_name }}</span>
                </li>

                <li>
                   <span> Promotion: <span id="promotion">{{ person.promotion }}</span></span>
                </li>
                <div id="to_show">

                <li>
                    <span>email: {{person.email}}</span>
                </li>

                    {% for position in positions %}
                        {% if position.employee.id==person.id %}


                               <HR>




                                {% for organisation in position.organisation %}

                <li>
                   <span>   Position: <span id="position">{{organisation.entreprise }}</span></span>
                </li>
                                {% endfor %}
                            <li>
                   <span>   Titre: <span>{{position.title }}</span></span>
                </li>


                        <li>
                   <span>   Date: <span>{{position.entry_date }}</span></span>
                </li>




                        {% endif %}
                        {% endfor %}
                <HR>

                    {% for taf in person.tafs %}
                <li>
                    <span> TAF : <span id="taf">{{  taf.name}}</span></span>
                </li>
                        {% endfor %}


                    {% for pfe in pfes %}
                        {% if pfe.student.id == person.id %}
                            <HR>


                <li>
                    <span> Stage: <span id="stage">{{  pfe.organisation.entreprise}}</span> </span>
                </li>

                        <li>
                        <span> Description du stage: {{ pfe.description }}</span>
                        </li>

                            </li>

                        {% endif %}
                        {% endfor %}

                </div>
            </ul>
        </span>

    {% endfor %}
</ul>





</body>
</html>