<html lang="fr">
<head>
    <title> Tableau de Bord</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for("static",filename="css/tableau_de_bord.css") }}">
    <script  src="/static/js/tableau_de_bord.js"></script>
</head>
<body>
<div class="haut">

<h2> Tableau de Bord</h2>
<a class="profil" href="/oui">
    <img class="profil" src="{{ url_for("static",filename="img/icon.png") }}">

</a>



    <HR class="ligne" WIDTH="700px">


</div>

    <nav class ="navigation">


        <ul>
            <ui>
                Filtre:
            </ui>


            <ui> <input type="text" placeholder="TAF" list="taf" id="input_taf">
                <datalist id="taf">
                <option value="Objective C">Objective C</option>
                <option value="C++">C++</option>
                <option value="C#">C#</option>
                <option value="Cobol">Cobol</option>
                    </datalist>

            </ui>

            <ui>


            <input type="text" placeholder="Promotion" list="promotion" id="input_promotion">





            </ui>

            <ui>

                <input type="text" placeholder="Stage" list="stage" id="input_stage">
                <datalist id="stage">

                    <option value="Google">Google</option>
                    <option value="Alstom">Alstom</option>

                    </datalist>

            </ui>

            <ui>

                <input type="text" placeholder="Entreprise" list="entreprise" id="input_entreprise">
                <datalist id="entreprise">
                    <option value="Google">Google</option>
                    <option value="Alstom">Alstom</option>

                    </datalist>


            </ui>
            <ui>
                <button class="add" type="submit" onclick="get_input()" >Add</button>
            </ui>


        </ul>



    </nav>

<div>
    <ul class="ajout" id="ajout">

    </ul>
</div>
<HR class="ligne" WIDTH="700px">

<br>

<div>
    <h3> Alumni</h3>

</div>


<ul class="everyone">

    {% for person in people %}

    <li class="someone_li" >
        <span>

            <ul class="someone">

                <li>
                   <span> Nom: {{ person.last_name }}</span>
                </li>
                <li>
                    <span>Prenom: {{ person.first_name }}</span>
                </li>

                <li>
                   <span> Promotion: <span id="promotion">{{ person.promotion }}</span></span>
                </li>

                <li>
                    <span>email: {{person.email}}</span>
                </li>

                    {% for position in positions %}
                        {% if position.employee.id==person.id %}

                           <li>
                            <ul>



                <li>
                   <span>   Position: <span id="position">{{position.organisation_name.entreprise }}</span></span>
                </li>

                            <li>
                   <span>   Titre: <span>{{position.title }}</span></span>
                </li>


                        <li>
                   <span>   Date: <span>{{position.entry_date }}</span></span>
                </li>

                    </ul>
</li>

                        {% endif %}
                        {% endfor %}

                    {% for taf in person.tafs %}
                <li>
                    <span> TAF: <span id="taf">{{  taf.name}}</span></span>
                </li>
                        {% endfor %}

                    {% for pfe in pfes %}
                        {% if pfe.student.id == person.id %}
                            <li>
                            <ul>
                <li>
                    <span> Stage: <span id="stage">{{  pfe.title}}</span> </span>
                </li>

                        <li>
                        <span> Description du stage: {{ pfe.description }}</span>
                        </li>
                            </ul>
                            </li>

                        {% endif %}
                        {% endfor %}


            </ul>
        </span>
    </li>
    {% endfor %}
</ul>





</body>
</html>