<html lang="fr">
<head>
    <title> Tableau de Bord</title>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ url_for("static",filename="css/tableau_de_bord.css") }}">
    <script  src="/static/js/tableau_de_bord.js"></script>
</head>
<body>
<div class="haut">

<h2> Tableau de Bord</h2>
<a class="profil" href="/oui">
    <img class="profil" src="{{ url_for("static",filename="img/icon.png") }}">

</a>



    <HR class="ligne" WIDTH="700px">


</div>

    <nav class ="navigation">


        <ul>
            <ui>
                Filtre:
            </ui>


            <ui> <input type="text" placeholder="TAF" list="taf" id="input_taf">
                <datalist id="taf">
                <option value="Objective C">Objective C</option>
                <option value="C++">C++</option>
                <option value="C#">C#</option>
                <option value="Cobol">Cobol</option>
                    </datalist>

            </ui>

            <ui>


            <input type="text" placeholder="Promotion" list="promotion" id="input_promotion">
                <datalist id="promotion">
                    <option value="2018-2019">2018-2019</option>
                    <option value="2019-2020">2019-2020</option>
                    <option value="2020-2021">2020-2021</option>
                    <option value="2021-2022">2021-2022</option>
                    </datalist>

            </ui>

            <ui>

                <input type="text" placeholder="Stage" list="stage" id="input_stage">
                <datalist id="stage">
                    <option value="Google">Google</option>
                    <option value="Alstom">Alstom</option>

                    </datalist>

            </ui>

            <ui>

                <input type="text" placeholder="Entreprise" list="entreprise" id="input_entreprise">
                <datalist id="entreprise">
                    <option value="Google">Google</option>
                    <option value="Alstom">Alstom</option>

                    </datalist>


            </ui>
            <ui>
                <button class="add" type="submit" onclick="get_input()" >Add</button>
            </ui>


        </ul>



    </nav>

<div>
    <ul class="ajout" id="ajout">

    </ul>
</div>
<HR class="ligne" WIDTH="700px">

<br>

<div>
    <h3> Alumni</h3>

</div>


<ul class="everyone">
    <li class="someone_li" >
        <span>

            <ul class="someone">

                <li>
                   <span> Nom:  Grandjacquot</span>
                </li>
                <li>
                    <span>Prenom:  Alexis</span>
                </li>

                <li>
                   <span> Promotion: <span id="promotion">2018-2019</span></span>
                </li>

                <li>
                    <span>email: alexisgjt@gmail.com</span>
                </li>
                <li>
                   <span> </sapn> Entreprise: <span id="entreprise">Coca Cola</span></span>
                </li>

                <li>
                  <span> <span> Description:  Ceci est une description</span></span>
                </li>

                <li>
                   <span>   Position: <span id="position">Vendeur de cigarette</span></span>
                </li>


                <li>
                    <span> TAF 2A: <span id="taf_2a">DCL</span></span>
                </li>
                <li>
                  <span>  TAF 3A: <span id="taf_3a">IDL</span></span>
                </li>
                <li>
                    <span> Stage: <span id="stage">Alstom</span> </span>
                </li>


            </ul>
        </span>
    </li>
</ul>





</body>
</html>